/* ################################################################
 Filename      : main.css
 Author        : Bohn Matthias
 Date          : 12.01.2024
################################################################ */
/* Allgemeine Stile für alle HTML-Elemente */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Stile für den gesamten Body */
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  --darkColor: #382323;
  --whiteColor: floralwhite;
  --redColor: #9d1726;
  --orangeColor: #ba5f1d;
  background-color: var(--darkColor);
  color: var(--whiteColor);
}

/* Stile für allgemeine Container */
.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

/* Stile für Sektionen auf der Seite */
.section {
  padding-top: 40px;
  padding-bottom: 30px;
}

/* Verschiedene Höhenklassen für Sektionen */
.vh-100 {
  min-height: 100vh !important;
}
.vh-90 {
  min-height: 90vh !important;
}
.vh-80 {
  min-height: 80vh !important;
}

/* Zentrierte Textausrichtung */
.t-center {
  text-align: center;
}
